<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "br.med.tw.phonedraps"
    versionCode = "10"
    version     = "1.0.1" >

<!-- versionCode is optional and Android only -->

  <name>Draps</name>

  <description>
      Teste do iPhone X
  </description>

  <author href="https://build.phonegap.com" email="support@phonegap.com">
    Elder Pimenta
  </author>
    
  <platform name="ios">
      
        <!--
        <preference name="Orientation" value="all" />
        <preference name="AutoHideSplashScreen" value="true" />
        
        
        <splash height="480" src="resources/splash/ios/Default~iphone.png" width="320" />
        <splash height="960" src="resources/splash/ios/Default@2x~iphone.png" width="640" />
        <splash height="1024" src="resources/splash/ios/Default-Portrait~ipad.png" width="768" />
        <splash height="2048" src="resources/splash/ios/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="768" src="resources/splash/ios/Default-Landscape~ipad.png" width="1024" />
        <splash height="1536" src="resources/splash/ios/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="1136" src="resources/splash/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="resources/splash/ios/Default-667h.png" width="750" />
        <splash height="2208" src="resources/splash/ios/Default-736h.png" width="1242" />
        <splash height="1242" src="resources/splash/ios/Default-Landscape-736h.png" width="2208" />
        -->
      
        <preference name="SplashScreen" value="splash" />
        <preference name="StatusBarOverlaysWebView" value="true" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="StatusBarStyle" value="lightcontent" />
        <preference name="phonegap-version" value="cli-7.1.0" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="AutoHideSplashScreen" value="true" />
        
        <!-- 1125x2436 -->
        <splash src="resources/splash/ios/Default@3x~iphone~comany.png" />
        <!-- <splash src="resources/splash/ios/Default-2436h.png" /> -->
        
    </platform>

</widget>
